@charset "UTF-8";
body {
  padding: 0;
  margin: 0; }

header {
  display: block;
  width: 100%;
  margin: 0;
  height: 50px;
  line-height: 50px;
  background-color: #2A8FFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999; }
  header nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    padding: 0 10%;
    list-style: none;
    font-weight: bold;
    color: white;
    text-transform: capitalize; }
    @media screen and (max-width: 375px), screen and (max-width: 414px) {
      header nav {
        width: 100%;
        padding: 0; } }
    header nav a {
      text-decoration: none;
      color: white;
      -webkit-transition: 600ms;
      transition: 600ms;
      margin: 0 5px;
      font-family: 'Russo One', sans-serif;
      font-size: 1rem;
      text-shadow: #302745 0.5px 0.5px 0, #302745 -0.5px -0.5px 0; }
      header nav a:hover {
        text-shadow: #302745 1px 1px 0, #302745 -1px -1px 0,  #302745 -1px 1px 0, #302745 1px -1px 0; }
  @media screen and (max-width: 375px), screen and (max-width: 414px) {
    header {
      height: auto; }
      header ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 95%;
        color: white;
        -webkit-transition: 600ms;
        transition: 600ms;
        margin: 0;
        font-family: 'Comfortaa', cursive;
        text-shadow: #302745 0.015em 0.015em 0, #302745 -0.015em -0.015em 0,  #302745 -0.015em 0.015em 0, #302745 0.015em -0.015em 0;
        letter-spacing: 0.1em; }
        header ul li {
          margin: 0 5px; } }

.visible {
  opacity: 1; }

.hidden {
  opacity: 0; }

.goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80.5%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif; }
  @media screen and (max-width: 375px), screen and (max-width: 414px) {
    .goals {
      display: block;
      width: 100%; } }
  .goals__item {
    margin: 10px; }
    .goals__item span {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Kelly Slab', cursive;
      color: #72D3F7; }

.about {
  display: block;
  width: 100%;
  background-color: #D2D2D2; }
  .about h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0 30px 0;
    margin: 0; }
  .about__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 79%;
    margin: 0 auto;
    padding: 20px 0;
    font-family: 'Nunito', sans-serif; }
    @media screen and (max-width: 375px), screen and (max-width: 414px) {
      .about__wraper {
        display: block;
        width: 100%;
        text-align: center; }
        .about__wraper img[alt='JFD'] {
          width: 90%;
          display: inline-block;
          margin: 10px auto; } }
    .about__wraper_myPhoto {
      display: block;
      width: 280px;
      height: 280px;
      margin: 0 auto;
      border-radius: 10px;
      background: url(../img/myPhoto.jpg) center no-repeat;
      background-size: cover;
      background-position: -100px 0;
      overflow: hidden;
      position: relative; }
      @media screen and (max-width: 375px), screen and (max-width: 414px) {
        .about__wraper_myPhoto {
          width: 90%;
          margin: 10px auto;
          background: url(../img/myPhoto.jpg) center no-repeat;
          background-size: cover; } }
    .about__wraper img[alt='JFD'] {
      display: inline-block;
      width: 100px;
      height: 45px;
      margin: 0 auto;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0; }
    .about__wraper_text {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 0 0 0 20px;
      font-size: 16px;
      text-align: left; }
      .about__wraper_text p {
        margin: 0; }
      .about__wraper_text a {
        font-size: inherit;
        color: #F67F59;
        font-weight: bold;
        text-decoration: none;
        font-family: 'Comfortaa', cursive;
        text-shadow: #302745 0.015em 0.015em 0, #302745 -0.015em -0.015em 0,  #302745 -0.015em 0.015em 0, #302745 0.015em -0.015em 0;
        letter-spacing: 0.1em;
        text-shadow: none; }
        .about__wraper_text a:hover {
          border-bottom: 2px solid #F67F59; }

.skills {
  display: block;
  width: 78%;
  margin: 50px auto; }
  .skills h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 30px; }
  .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .skills__container {
        display: block; } }
    .skills__container h3 {
      font-family: 'Nunito', sans-serif;
      font-size: 22px;
      font-weight: 200;
      text-shadow: none;
      margin: 0; }
    .skills__container_wraper {
      display: block;
      padding: 0 10px;
      width: auto;
      margin: auto; }
      .skills__container_wraper:first-child {
        border-left: 1px solid #91cb6a;
        border-right: 1px solid #91cb6a;
        width: 30%; }
        @media screen and (min-width: 320px) and (max-width: 770px) {
          .skills__container_wraper:first-child {
            width: 90%;
            border: 1px solid #91cb6a; } }
      .skills__container_wraper:last-child {
        width: 70%;
        border-right: 1px solid #91cb6a; }
        @media screen and (min-width: 320px) and (max-width: 770px) {
          .skills__container_wraper:last-child {
            width: 90%;
            border: 1px solid #91cb6a; } }
      .skills__container_wraper-list {
        font-family: 'Comfortaa', cursive;
        text-shadow: #302745 0.015em 0.015em 0, #302745 -0.015em -0.015em 0,  #302745 -0.015em 0.015em 0, #302745 0.015em -0.015em 0;
        letter-spacing: 0.1em;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
        height: 300px;
        padding: 0;
        margin-bottom: 0;
        font-size: 16px;
        list-style: none;
        text-transform: none;
        color: #302745;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        @media screen and (max-width: 375px) and (max-width: 414px) {
          .skills__container_wraper-list {
            width: 90%;
            display: inline-block;
            height: auto; } }
        .skills__container_wraper-list li {
          margin: 0; }
          .skills__container_wraper-list li:before {
            content: '•';
            color: #6fb840;
            margin-right: 5px; }
        .skills__container_wraper-list img[alt="react_logo"] {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-bottom: -5px; }

.portfolio {
  display: block;
  width: 100%;
  background-color: #91cb6a; }
  .portfolio p {
    width: 90%;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    text-align: center; }
  .portfolio h3 {
    text-transform: uppercase;
    padding: 50px 0;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 0; }
    .portfolio h3:nth-child(5) {
      padding: 5px 0; }
  .portfolio__html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 0 auto; }
    @media screen and (max-width: 375px), screen and (max-width: 414px) {
      .portfolio__html {
        display: block; } }
    .portfolio__html_item {
      display: block;
      width: 24%;
      height: auto;
      margin: 5px; }
      @media screen and (min-width: 320px) and (max-width: 414px) {
        .portfolio__html_item {
          width: 90%;
          margin: 10px auto; } }
      @media screen and (max-width: 800px) {
        .portfolio__html_item {
          width: 48.5%; } }
      .portfolio__html_item:hover img {
        -webkit-transition: 300ms;
        transition: 300ms;
        -webkit-box-shadow: 5px 5px #72D3F7;
                box-shadow: 5px 5px #72D3F7;
        -webkit-animation: item_animation .3s ease;
                animation: item_animation .3s ease;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
      .portfolio__html_item img {
        -webkit-transition: 300ms;
        transition: 300ms;
        width: 100%;
        height: 100%;
        -webkit-animation: return .3s ease;
                animation: return .3s ease; }
@-webkit-keyframes item_animation {
  0% {
    top: 0;
    left: 0; }
  100% {
    position: relative;
    top: -5px;
    left: -5px; } }
@keyframes item_animation {
  0% {
    top: 0;
    left: 0; }
  100% {
    position: relative;
    top: -5px;
    left: -5px; } }
@-webkit-keyframes return {
  0% {
    position: relative;
    top: -5px;
    left: -5px; }
  100% {
    top: 0;
    left: 0; } }
@keyframes return {
  0% {
    position: relative;
    top: -5px;
    left: -5px; }
  100% {
    top: 0;
    left: 0; } }
  .portfolio__reactWraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (max-width: 375px), screen and (max-width: 414px) {
      .portfolio__reactWraper {
        display: block; } }
    .portfolio__reactWraper_item {
      display: block;
      width: 24%;
      height: auto;
      margin: 5px;
      position: relative; }
      @media screen and (max-width: 375px), screen and (max-width: 414px) {
        .portfolio__reactWraper_item {
          width: 90%;
          margin: 10px auto; } }
      .portfolio__reactWraper_item:last-child {
        -webkit-filter: grayscale(80%);
                filter: grayscale(80%); }
        .portfolio__reactWraper_item:last-child:after {
          content: 'Проект дорабатывается...Но вы можете оценить код';
          font-size: 18px;
          color: black;
          font-weight: bold;
          position: absolute;
          top: 45%;
          left: 30%;
          opacity: 0;
          -webkit-transition: opacity .5s;
          transition: opacity .5s;
          text-shadow: cyan 0.3px 0.3px 0, cyan -0.3px -0.3px 0, cyan -0.3px 0.3px 0, cyan 0.3px -0.3px 0; }
      .portfolio__reactWraper_item img[alt="react_logo"] {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 5px;
        right: 5px; }
      .portfolio__reactWraper_item img[alt="gears"] {
        display: inline-block;
        max-width: 60px;
        max-height: 50px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: 9999; }
      .portfolio__reactWraper_item img {
        width: 100%;
        height: 100%;
        -webkit-animation: return .3s ease;
                animation: return .3s ease; }
      .portfolio__reactWraper_item:hover img {
        -webkit-animation: item_animation .3s ease;
                animation: item_animation .3s ease;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-box-shadow: 5px 5px #72D3F7;
                box-shadow: 5px 5px #72D3F7; }
      .portfolio__reactWraper_item:hover img[alt="gears"] {
        -webkit-animation: item_animation .3s ease;
                animation: item_animation .3s ease;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
      .portfolio__reactWraper_item:hover:last-child:after {
        top: 42%;
        left: 23%;
        -webkit-animation: working_text .5s ease;
                animation: working_text .5s ease;
        -webkit-animation-delay: .2s;
                animation-delay: .2s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-transition: opacity 1s;
        transition: opacity 1s; }
@-webkit-keyframes working_text {
  0% {
    opacity: 0; }
  100% {
    display: inline;
    opacity: 1; } }
@keyframes working_text {
  0% {
    opacity: 0; }
  100% {
    display: inline;
    opacity: 1; } }
.courses {
  display: block;
  width: 90%;
  padding: 50px 0;
  margin: 0 auto; }
  .courses h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase; }
  .courses p {
    width: 90%;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 30px auto; }
    .courses p a {
      font-size: 18px;
      color: #F67F59;
      font-weight: bold;
      text-decoration: none;
      font-family: 'Comfortaa', cursive;
      text-shadow: #302745 0.015em 0.015em 0, #302745 -0.015em -0.015em 0,  #302745 -0.015em 0.015em 0, #302745 0.015em -0.015em 0;
      letter-spacing: 0.1em;
      text-shadow: none; }
      .courses p a:hover {
        border-bottom: 2px solid #F67F59; }
  .courses__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (max-width: 769px) {
      .courses__wraper {
        display: block;
        word-wrap: break-word; } }
    .courses__wraper_item {
      display: block;
      width: 25%;
      height: auto;
      margin: 5px 10px;
      padding: 0 5px;
      border: 1px solid #F67F59;
      border-radius: 4px;
      text-align: center;
      -webkit-transition: 600ms;
      transition: 600ms;
      background-color: white;
      padding-top: 2%; }
      @media screen and (max-width: 769px) {
        .courses__wraper_item {
          width: 90%;
          margin: 10px auto; } }
      .courses__wraper_item p {
        display: inline-block;
        width: 100%;
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        text-align: left;
        font-weight: bold;
        word-break: break-word; }
      .courses__wraper_item:hover {
        -webkit-transition: 600ms;
        transition: 600ms;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      .courses__wraper_item a {
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Kelly Slab', cursive;
        font-size: 18px;
        text-transform: none;
        color: #302447;
        -webkit-transition: 600ms;
        transition: 600ms; }
        .courses__wraper_item a:hover {
          -webkit-transition: 600ms;
          transition: 600ms;
          border-bottom: 2px solid #F67F59;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }

.education {
  display: block;
  width: 100%;
  margin: 50px auto; }
  .education h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  .education__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0 auto; }
    @media screen and (max-width: 769px) {
      .education__wraper {
        display: block;
        width: 100%; } }
    .education__wraper_item {
      display: block;
      width: 100%;
      font-family: 'Nunito', sans-serif;
      border: 1px dotted #91cb6a;
      padding: 0 10px; }
      @media screen and (max-width: 769px) {
        .education__wraper_item {
          width: 80%;
          margin: 0 auto; } }

.resume {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #302745;
  color: white;
  padding: 50px 0;
  font-family: 'Nunito', sans-serif; }
  .resume h2 {
    text-transform: uppercase;
    font-size: 30px; }
  .resume p {
    font-size: 18px; }
  .resume a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Kelly Slab', cursive;
    color: red;
    font-weight: bold; }
  .resume a.resume__downloadLink {
    display: inline-block;
    width: 120px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: 600ms;
    transition: 600ms; }
    .resume a.resume__downloadLink:hover {
      -webkit-transition: 600ms;
      transition: 600ms;
      color: #6fb840;
      border: 1px solid #6fb840; }

.contacts {
  display: block;
  width: 100%;
  margin: 40px auto;
  text-align: center; }
  .contacts h3 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }
  .contacts p {
    font-family: 'Nunito', sans-serif;
    width: 90%;
    margin: 20px auto; }
  .contacts__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto; }
    @media screen and (max-width: 375px), screen and (max-width: 414px) {
      .contacts__wraper {
        width: 100%;
        -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap; } }
    .contacts__wraper_item {
      display: block;
      width: 50px; }
      .contacts__wraper_item a {
        text-decoration: none;
        font-size: 35px;
        display: inline-block;
        color: #2A8FFF;
        margin: 0 15px; }

/*# sourceMappingURL=style.css.map */