@charset "UTF-8";
body {
  padding: 0;
  margin: 0; }

header {
  display: block;
  width: 100%;
  margin: 0;
  height: 50px;
  line-height: 25px;
  background-color: #2A8FFF; }
  header ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    padding: 0 10%;
    list-style: none;
    font-weight: bold;
    color: white;
    font-size: 14px; }
    @media screen and (max-device-width: 375px), screen and (max-device-width: 414px) {
      header ul {
        padding: 0; } }
    header ul a {
      text-decoration: none;
      color: white;
      -webkit-transition: 600ms;
      transition: 600ms;
      letter-spacing: 0.025em;
      font-family: 'Lobster', cursive;
      text-shadow: #302745 0.015em 0.015em 0, #302745 -0.015em -0.015em 0,  #302745 -0.015em 0.015em 0, #302745 0.015em -0.015em 0;
      letter-spacing: 0.15em; }
      header ul a:hover {
        text-shadow: #302745 1px 1px 0, #302745 -1px -1px 0,  #302745 -1px 1px 0, #302745 1px -1px 0; }
    header ul li {
      text-transform: uppercase;
      margin: 0 auto; }
  @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
    header {
      height: auto; }
      header ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 95%;
        color: white;
        -webkit-transition: 600ms;
        transition: 600ms;
        margin: 0;
        font-family: 'Lobster', cursive;
        text-shadow: #302745 0.015em 0.015em 0, #302745 -0.015em -0.015em 0,  #302745 -0.015em 0.015em 0, #302745 0.015em -0.015em 0;
        letter-spacing: 0.15em; }
        header ul li {
          margin: 0 5px; } }

.goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif; }
  @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
    .goals {
      display: block;
      width: 100%; } }
  .goals__item {
    margin: 10px; }
    .goals__item span {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Kelly Slab', cursive;
      color: #72D3F7; }

.about {
  display: block;
  width: 100%;
  background-color: #D2D2D2; }
  .about__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    font-family: 'Nunito', sans-serif; }
    @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
      .about__wraper {
        display: block;
        width: 100%;
        text-align: center; }
        .about__wraper img[alt='JFD'] {
          width: 90%;
          display: inline-block;
          margin: 10px auto; } }
    .about__wraper_myPhoto {
      display: block;
      width: 420px;
      height: 420px;
      margin: 0 auto;
      border-radius: 10px;
      background: url(../img/myPhoto.jpg) center no-repeat;
      background-size: cover;
      overflow: hidden;
      position: relative; }
      @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
        .about__wraper_myPhoto {
          width: 90%;
          margin: 10px auto;
          background: url(../img/myPhoto.jpg) center no-repeat;
          background-size: cover; } }
    .about__wraper img[alt='JFD'] {
      display: inline-block;
      width: 120px;
      height: 60px;
      margin: 0 auto;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0; }
    .about__wraper_text {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 0 0 0 20px;
      font-size: 16px; }
      .about__wraper_text a {
        font-size: 18px;
        color: #F67F59;
        font-weight: bold;
        text-decoration: none;
        font-family: 'Lobster', cursive;
        text-shadow: #302745 0.015em 0.015em 0, #302745 -0.015em -0.015em 0,  #302745 -0.015em 0.015em 0, #302745 0.015em -0.015em 0;
        letter-spacing: 0.15em;
        text-shadow: none; }
        .about__wraper_text a:hover {
          border-bottom: 2px solid #F67F59; }

.skills {
  display: block;
  width: 90%;
  margin: 50px auto; }
  .skills h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 30px; }
  .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .skills__container {
        display: block; } }
    .skills__container h3 {
      font-family: 'Nunito', sans-serif;
      font-size: 22px;
      font-weight: 200;
      text-shadow: none;
      margin: 0; }
    .skills__container_wraper {
      display: block;
      padding: 0 25px; }
      .skills__container_wraper:nth-child(1) {
        border-left: 1px solid rgba(111, 184, 64, 0.3);
        border-right: 1px solid rgba(111, 184, 64, 0.3);
        position: relative; }
        @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
          .skills__container_wraper:nth-child(1) {
            border: 1px solid rgba(111, 184, 64, 0.3); } }
      .skills__container_wraper:last-child {
        height: 90%;
        border-right: 1px solid rgba(111, 184, 64, 0.3); }
        @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
          .skills__container_wraper:last-child {
            border: 1px solid rgba(111, 184, 64, 0.3); } }
      .skills__container_wraper-list {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Kelly Slab', cursive;
        font-size: 16px;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        list-style: none;
        color: #302745;
        padding: 0;
        margin-bottom: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .skills__container_wraper-list li {
          margin: 5px; }
          .skills__container_wraper-list li:before {
            content: '•';
            color: #6fb840; }
        .skills__container_wraper-list img[alt="react_logo"] {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-bottom: -5px; }

.portfolio {
  display: block;
  width: 100%;
  background-color: rgba(111, 184, 64, 0.3); }
  .portfolio h3 {
    text-transform: uppercase;
    padding: 50px 0;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 0; }
  .portfolio__html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 0 auto; }
    @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
      .portfolio__html {
        display: block; } }
    .portfolio__html_item {
      display: block;
      width: 25%;
      height: auto;
      margin: 20px; }
      @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
        .portfolio__html_item {
          width: 90%;
          margin: 10px auto; } }
      .portfolio__html_item:hover img {
        -webkit-transition: 300ms;
        transition: 300ms;
        position: relative;
        top: -5px;
        left: -5px;
        -webkit-box-shadow: 5px 5px #72D3F7;
                box-shadow: 5px 5px #72D3F7; }
      .portfolio__html_item img {
        -webkit-transition: 300ms;
        transition: 300ms;
        width: 100%;
        height: 100%; }
  .portfolio__reactWraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 50px auto; }
    @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
      .portfolio__reactWraper {
        display: block; } }
    .portfolio__reactWraper_item {
      display: block;
      width: 25%;
      height: auto;
      margin: 20px;
      position: relative; }
      @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
        .portfolio__reactWraper_item {
          width: 90%;
          margin: 10px auto; } }
      .portfolio__reactWraper_item img[alt="react_logo"] {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 5px;
        right: 5px; }
      .portfolio__reactWraper_item img {
        width: 100%;
        height: 100%; }
      .portfolio__reactWraper_item:hover img[alt="react_thumb"] {
        -webkit-transition: 600ms;
        transition: 600ms;
        position: relative;
        top: -5px;
        left: -5px;
        -webkit-box-shadow: 5px 5px #72D3F7;
                box-shadow: 5px 5px #72D3F7; }
      .portfolio__reactWraper_item:hover img[alt="react_logo"] {
        bottom: 15px;
        right: 15px; }

.courses {
  display: block;
  width: 90%;
  padding: 50px 0;
  margin: 0 auto; }
  .courses h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase; }
  .courses p {
    width: 70%;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 30px auto; }
    .courses p a {
      font-size: 18px;
      color: #F67F59;
      font-weight: bold;
      text-decoration: none;
      font-family: 'Lobster', cursive;
      text-shadow: #302745 0.015em 0.015em 0, #302745 -0.015em -0.015em 0,  #302745 -0.015em 0.015em 0, #302745 0.015em -0.015em 0;
      letter-spacing: 0.15em;
      text-shadow: none; }
      .courses p a:hover {
        border-bottom: 2px solid #F67F59; }
  .courses__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (max-width: 769px) {
      .courses__wraper {
        display: block;
        word-wrap: break-word; } }
    .courses__wraper_item {
      display: block;
      width: 40%;
      height: auto;
      margin: 5px 10px;
      padding: 0 5px;
      border: 1px solid #F67F59;
      border-radius: 4px;
      text-align: center;
      -webkit-transition: 600ms;
      transition: 600ms;
      background-color: white;
      padding-top: 2%; }
      @media screen and (max-width: 769px) {
        .courses__wraper_item {
          width: 90%;
          margin: 10px auto; } }
      .courses__wraper_item p {
        display: inline-block;
        width: 100%;
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        text-align: left;
        font-weight: bold; }
      .courses__wraper_item:hover {
        -webkit-transition: 600ms;
        transition: 600ms;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      .courses__wraper_item a {
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Kelly Slab', cursive;
        font-size: 18px;
        text-transform: none;
        color: #302447;
        -webkit-transition: 600ms;
        transition: 600ms; }
        .courses__wraper_item a:hover {
          -webkit-transition: 600ms;
          transition: 600ms;
          border-bottom: 2px solid #F67F59;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }

.education {
  display: block;
  width: 100%;
  margin: 50px auto; }
  .education h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  .education__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0 auto; }
    @media screen and (max-width: 769px) {
      .education__wraper {
        display: block;
        width: 100%; } }
    .education__wraper_item {
      display: block;
      width: 100%;
      font-family: 'Nunito', sans-serif;
      border: 1px dotted rgba(111, 184, 64, 0.3);
      padding: 0 10px; }
      @media screen and (max-width: 769px) {
        .education__wraper_item {
          width: 80%;
          margin: 0 auto; } }

.resume {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #302745;
  color: white;
  padding: 50px 0;
  font-family: 'Nunito', sans-serif; }
  .resume h2 {
    text-transform: uppercase;
    font-size: 30px; }
  .resume p {
    font-size: 18px; }
  .resume a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Kelly Slab', cursive;
    color: red;
    font-weight: bold; }
  .resume a.resume__downloadLink {
    display: inline-block;
    width: 120px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: 600ms;
    transition: 600ms; }
    .resume a.resume__downloadLink:hover {
      -webkit-transition: 600ms;
      transition: 600ms;
      color: #6fb840;
      border: 1px solid #6fb840; }

.contacts {
  display: block;
  width: 100%;
  margin: 40px auto;
  text-align: center; }
  .contacts h3 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }
  .contacts p {
    font-family: 'Nunito', sans-serif;
    width: 90%;
    margin: 20px auto; }
  .contacts__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto; }
    @media screen and (max-width: 375px), screen and (max-device-width: 414px) {
      .contacts__wraper {
        width: 90%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .contacts__wraper_item {
      display: block;
      width: auto; }
      .contacts__wraper_item a {
        text-decoration: none;
        font-size: 35px;
        display: inline-block;
        color: #2A8FFF;
        margin: 0 15px; }

/*# sourceMappingURL=style.css.map */